@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body {
  @apply bg-bg text-fg antialiased;
}
a { @apply text-accent; }
a:hover { @apply underline; }
* { @apply box-border; }
main { @apply leading-relaxed; }
